loguru==0.5.3
requests==2.25.1
pydantic==1.8.2
aiogram==2.13
SQLAlchemy==1.4.15
starlette==0.14.2
httpx==0.18.1
aiocache==0.11.1
uvicorn==0.13.4
fastapi==0.65.1
requests_futures==1.0.0
aiocache==0.11.1